:root{
    --Sea-500: #0d1b2a;
    --Sea-400: #1b263b;
    --Sea-300: #415a77;
    --Sea-200: #778da9;
    --Sea-100: #e0e1dd;
    --Sea-90: #fdfdfd;
<<<<<<< HEAD
}

body {
    background: var(--Sea-500);
=======

    --magic-500: #02010a;
    --magic-400: #04052e;
    --magic-300: #140152;
    --magic-200: #22007c;
    --magic-100: #0d00a4;
}
@font-face {
    font-family: 'clash-bold';
    src: url('src/Components/Fonts/Clash-OTF/ClashDisplay-Bold.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'clash-medium';
    src: url('src/Components/Fonts/Clash-OTF/ClashDisplay-Medium.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'clash-semibold';
    src: url('src/Components/Fonts/Clash-OTF/ClashDisplay-Semibold.otf');
}


body {
    background: var(--magic-500);
>>>>>>> 64bc2da046ae0a3b74c87547d537c8f7d418de9a
}
.games-list{
  width: 90%;
  max-width: 900px;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 6px;
}

.game-card{
    width: 100%;

<<<<<<< HEAD
    background: var(--Sea-500);
=======
    background: var(--magic-400);
>>>>>>> 64bc2da046ae0a3b74c87547d537c8f7d418de9a

    display: flex;
    align-items: center;

    padding: 12px 16px;

    border-radius: 12px;

    gap: 18px;

    transition: 0.2s;

    cursor: pointer;
}

.game-card:hover {
<<<<<<< HEAD
    background: var(--Sea-200);
=======
    background: var(--magic-200);
>>>>>>> 64bc2da046ae0a3b74c87547d537c8f7d418de9a
    transform: translateY(-2px);
}

.game-card img{
    width: 220px;
    height: 120px;

    object-fit: cover;
    border-radius: 8px;
}

.game-info{
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    padding-left: 15px;
    background: transparent;
}


.game-info h3{
<<<<<<< HEAD
=======
    font-family: clash-bold;
>>>>>>> 64bc2da046ae0a3b74c87547d537c8f7d418de9a
    padding: 10px;
    font-size: 20px;
    background: transparent;
}

.game-info p{
<<<<<<< HEAD
=======
    font-family: clash-semibold;
>>>>>>> 64bc2da046ae0a3b74c87547d537c8f7d418de9a
  margin: 4px 0 0;
  color: #9ca3af;
  font-size: 14px;
  background: transparent;
  margin-left: 10px;
}

.achievements-total{
    margin-top: 8px;
    background: transparent;
    margin-left: 10px;
    
}

.achievements-total span{
    font-size: 15px;
<<<<<<< HEAD
    color: var(--Sea-100);
=======
    color: var(--magic-100);
>>>>>>> 64bc2da046ae0a3b74c87547d537c8f7d418de9a
    font-weight: bold;
    background: transparent;
    
}