/* ----- Paginas -----*/
.page {
    padding-top: 0 !important;
    background: var(--bg-page);
    font-family: var(--poppins);
    min-height: calc(100vh - 56px);
    padding: 2rem;
    overflow-x: hidden;
}

.page-header {
    margin-bottom: 2rem;
}

.page-title {
    font-size: 22px;
    font-weight: 500;
    color: var(--text-primary);
    margin-top: 2rem;
    margin-bottom: 4px;
}

.page-subtitle {
    font-size: 13px;
    color: var(--text-secondary);
}



